$primary: rgb(56, 56, 56);
$light: rgb(232, 230, 230);
$brown: rgb(139, 115, 85);
$light-brown: rgba(139, 115, 85, 0.45);
$soft-green: rgb(104, 128, 94);
$soft-beige: rgb(211, 184, 140);
$soft-brown: rgb(145, 96, 75);

:export {
  primary: $primary;
  light: $light;
  brown: $brown;
  lightBrown: $light-brown;
}