@use "colors";
@use "fonts";
@use "media";

@import "primeicons/primeicons.css";

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: white;
  scrollbar-gutter: stable;
  position: relative;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 100%;
}

#__nuxt {
  height: 100%;
}

.largeContainer {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;

  @include media.media-laptop {
    max-width: 980px;
    padding: 0 20px;
  }
}

[v-cloak] {
  display: none !important;
}