@use "colors";
@use "fonts";
@use "media";

@import "primeicons/primeicons.css";

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100%;
  font-size: 16px;
}

.pageContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    margin-top: 150px;

    @include media.media-tablet {
      margin-top: 75px;
    }
  }
}

.largeContainer {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;

  @include media.media-laptop {
    max-width: 980px;
    padding: 20px;
  }
}

body {
  scrollbar-gutter: stable;
}